{% include "header.html" %}

<main class="bg-light bg-gradient">
<div>
<table cellspacing="0" cellpadding="0" onload="cleanTab()">
  <tr class="top">
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="right"><input type="text" maxlength="1"></td>
</tr>
  <tr class="normalTr">
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="right"><input type="text" maxlength="1"></td>
</tr>
  <tr class="normalTr">
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="right"><input type="text" maxlength="1"></td>
</tr>
  <tr class="top">
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="right"><input type="text" maxlength="1"></td>
</tr>
  <tr class="normalTr">
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="right"><input type="text" maxlength="1"></td>
</tr>
  <tr class="normalTr">
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd"><input type="text" maxlength="1"></td>
  <td class="right"><input type="text" maxlength="1"></td>
</tr>
  <tr class="top">
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd" class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd" class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd" class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd" class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd" class="normalTd"><input type="text" maxlength="1"></td>
  <td class="right"><input type="text" maxlength="1"></td>
</tr>
  <tr class="normalTr">
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd" class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd" class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd" class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd" class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd" class="normalTd"><input type="text" maxlength="1"></td>
  <td class="right"><input type="text" maxlength="1"></td>
</tr>
  <tr class="bottom">
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd" class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd" class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd" class="normalTd"><input type="text" maxlength="1"></td>
  <td class="normalTd" class="normalTd"><input type="text" maxlength="1"></td>
  <td class="left"><input type="text" maxlength="1"></td>
  <td class="normalTd" class="normalTd"><input type="text" maxlength="1"></td>
  <td class="right"><input type="text" maxlength="1"></td>
</tr>
</table>
</div>

<div class='sub-but'>
<button name="name" value="value" class='btn btn-dark' onclick="solveSudoku()">Rozwiąż</button>
</div>
<script src="{{url_for('static', filename='rozwiaz.js')}}"></script>
</main>
</body>
</html> 